<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <header>
            <nav id="navbar">
                <div id="navbar_text">JEREMY TRAN PEREZ</div>
                <ul class="navbar_links">
                    <a href="/index.html"><li>Home</li></a>
                    <a href="/view/about.html"><li>About</li></a>
                    <a href="/view/resume.html"><li>Resume</li></a>
                    <a href="/view/misc.html"><li>Misc</li></a>
                </ul>
            </nav>
        </header>
        
        <h3><a href="/view/flexbox.html" target="_blank">Flexbox visualizer</a></h3>
        <p>A quick visual reference to some flexbox features.</p>
        <br>
        <h3><a href="https://conjugationpod101.weebly.com" target="_blank">ConjugationPod101</a></h3>
        <p>A reference for language verb conjugation.</p>
        <br>

        <footer>
            <hr>
            <div>
                <p>Profiles</p>
                <ul class="contact_links">
                    <li>
                        <img src="/assets/linkedin_icon.svg" alt="" id="linkedin_icon" class="icon">
                        <a href="https://linkedin.com/in/jeremytranperez">https://linkedin.com/in/jeremytranperez</a>
                    </li>    
                    
                    <li>
                        <img src="/assets/github_icon.svg" alt="" id="github_icon" class="icon">
                        <a href="https://github.com/JtIsNeat">https://github.com/JtIsNeat</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>